

.head{
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  color: yellow;
}

.two{
  font-size: 20px;
  color:yellow;
  font-family: 'Times New Roman', Times, serif;

}



.b1{
  background: linear-gradient(to right, blue, green);
  margin-top: 30px;
  margin-bottom: 30px;
  
  
}


.centered-textarea {
  width: 1000px; /* Set the desired width of the textarea */
  height: 200px; /* Set the desired height of the textarea */
  margin-left: 180px; /* Center the textarea horizontally */
  font-size: 25px;
  color: brown;
}

.two{
  margin-left: 180px;
}






